@import
    url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/*Home Page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    color: white;
}

.back-vid{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
  
@media (max-aspect-ratio: 16/9){
  .back-vid{
     width: auto;
     height: 100%;
   }
}
  
@media (min-aspect-ratio: 16/9){
  .back-vid{
    width: 100%;
    height: auto;
  }
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo :hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

/*section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}*/

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    /*background-color: black;*/
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 100%;
}

.home-img img{
    position: relative;
    width: auto;
    height: 70vh;
    /*border-radius: 50%;*/
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: black;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn1{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #b74b4b;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid white;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.btn1:hover{
    transform: scale3d(1.03);
    background-color: black;
    color: white;
    box-shadow: 0 0 25px black;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "";
    color: #b74b4b;
    animation: words 5s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 20%{
        content: "Software Engineer";
    }
    21%, 40%{
        content: "Product Marketing Engineer";
    }
    41%, 60%{
        content: "Applications Engineer";
    }
    61%, 80%{
        content: "Youtuber";
    }
    81%, 100%{
        content: "Explorer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

/*About Page*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.about-img img{
    width: 18vw;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
    margin-top: 3rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content p{
    font-size: 1.4rem;
    margin: 2rem 0 3rem;
}

/*Experience*/
.header1{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.experience-content{
    height: 50vh;
    width: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(9, 14, 37, 0.7),rgba(17, 22, 45, 0.7)),url(images/experience.JPG);
    background-size: cover;
    text-align: center;
    color: #fff;
}

.experience-content h2{
    padding-top: 170px;
    font-size: 50px;
}

.experience{
    background: black;
    width: 100%;
}

.experience-container{
    margin: auto;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*.project h2{
    font-size: 35px;
    color: #b74b4b;
    padding-top: 30px;
    padding-bottom: 0px;
    width: 80%;
    margin: auto;
}*/

.experience-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.experience-col img{
    padding-top: 30px;
    padding-left: 5px;
    height: 50vh;
    width: auto;
    align-items: center;
}
.experience-col h1{
    padding-top: 0;
    font-size: 28px;
    text-align: left;
}
.experience-col p{
    padding: 15px 0 25px;
    text-align: left;
}

/*Project*/
.title{
    background-color: black;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    text-decoration: underline;
}

.project-content{
    height: 50vh;
    width: 100%;
    background-position: center;
    background-image: linear-gradient(rgba(9, 14, 37, 0.7),rgba(17, 22, 45, 0.7)),url(images/project.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
}

.project-content h2{
    padding-top: 170px;
    font-size: 50px;
}

.project{
    background: black;
    width: 100%;
}

.project-container{
    margin: auto;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.project-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.project-col img{
    padding-top: 30px;
    padding-left: 5px;
    height: 50vh;
    width: auto;
    align-items: center;
}

.project-col h1{
    padding-top: 0;
    font-size: 28px;
    text-align: left;
}
.project-col p{
    padding: 15px 0 25px;
    text-align: left;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*Footer*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;

}
.footer h4{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}

/*Contact*/
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
}

.contact{
    background: white;
}

.submit-form{
    background: #b74b4b;
}

.firsttext{
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 35px;
}

.image{
    height: auto;
    width: 370px;
}

.second-text{
    font-weight: 700;
    font-size: 25px;
    background: white;
    padding-left: 20px;
}

.third-text{
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    color: white;
}

form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}

.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #b74b4b;
    font-size: 16px;
    color: white;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: white;
    transition: .3s;
}

.input-box .input:focus ~ label,
.input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background: #b74b4b;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

textarea.input{
    resize: none;
    height: 150px;
    overflow: auto;
    padding-top: 10px;
    color: white;
}

.btn2{
    position: relative;
    top: 100px;
    display: inline-block;
    padding: 1rem 2rem;
    background-color: black;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn2:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.social-icons-1{
    padding-left: 3rem;
}

.social-icons-1 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons-1 a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

@media(max-width:480px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display: none;
    }
    .text{
        font-size: 20px;
        text-align: center;
    }
    .btn2{
        width: 20%;
        height: 40px;
        font-size: 12px;
    }
}